@import "variables";

.create-game {
  display: flex;
  justify-content: center;
  align-items: center;

  .create-game__button {
    padding: 20px 40px;
    font-size: 1.5em;
    color: #000;
    background-color: $primary-fire;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $highlight-fire;
    }
  }
}
