@import "variables";

.join-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  input {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .join-game__button {
    padding: 10px 20px;
    background-color: $primary;
    color: $background-dark;
    border: none;
    cursor: pointer;
  }
}

.join-game__full {
  text-align: center;
  color: $error;
}
