@import "variables";

.error-char {
  background-color: rgba($error, 0.8);
}

.success-char {
  color: $success;
}

.text-light {
  color: $text-color;
}

.next-word {
  text-decoration: underline;
}
